* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

em,
i {
    font-style: normal
}

li {
    list-style: none
}

img {
    /* border 0 照顾低版本浏览器 如果 图片外面包含了链接会有边框的问题 */
    border: 0;
    /* 取消图片底侧有空白缝隙的问题 */
    vertical-align: middle
}

a {
    text-decoration: none;
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: rgb(173, 172, 172);
}

.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0
}

.clearfix {
    *zoom: 1
}

.hide,
.none {
    display: none
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?4qr5sd');
    src: url('../fonts/icomoon.eot?4qr5sd#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?4qr5sd') format('truetype'), url('../fonts/icomoon.woff?4qr5sd') format('woff'), url('../fonts/icomoon.svg?4qr5sd#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}