.fl {
    float: left;
}

.fr {
    float: right;
}


/*头部制作*/

.header {
    position: relative;
    height: 60px;
    background-color: #fff;
}

.logo {
    position: absolute;
    width: 150px;
    height: 60px;
}

.logo a {
    display: block;
    width: 150px;
    height: 60px;
    background: url(../iamgs/LOVE.png) no-repeat;
    text-indent: -9999px;
    overflow: hidden;
}

.nav {
    position: absolute;
    right: 0;
    line-height: 60px;
}

.nav ul li {
    float: left;
    margin: 5px 20px 0 20px;
}

.nav ul li a {
    font-size: 18px;
    color: rgb(247, 203, 203);
}