.fl {
    float: left;
}

.fr {
    float: right;
}


/*头部制作*/

.header {
    position: relative;
    height: 150px;
}

.logo {
    position: absolute;
    top: 25px;
    width: 171px;
    height: 61px;
}

.logo a {
    display: block;
    width: 150px;
    height: 60px;
    background: url(../imags/LOVE.png) no-repeat;
    text-indent: -9999px;
    overflow: hidden;
}